<div class="center">
  <div class="column">
    <h1>Available jobs</h1>
    <% @jobs.each do |job| %>
      <h3><%= job.questionaire.title %></h3> <%= link_to "Apply for #{job.questionaire.title}", new_job_jobapplication_path(job) %>
    <% end %>
  </div>
</div>