<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="main-content" class="col-xs-6">
      <h1>Jobseekers</h1>
      <%= link_to 'I am looking for a job', jobs_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div id="main-content" class="col-xs-6">
      <h1>Employers</h1>
      <%= link_to 'I am looking for an employee', new_job_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
