<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Jobbit", class: "btn btn-lg btn-success", id: "logo" %>
    <h1>Welcome to Jobbit</h1>
    <div class="nav-item">
        <%= link_to 'Sign in', class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav-item">
        <%= link_to 'Sign up', class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav-item">
        <%= link_to "Sign in with Github", class: "btn btn-default btn-warning" %>
    </div> 
  </div>
</header>